1. Write a python program to interchange first and last elements in a list<br>
Input : [12, 35, 9, 56, 24]<br>
Output : [24, 35, 9, 56, 12]

In [3]:
l=[12, 35, 9, 56, 24]
l.[]

SyntaxError: invalid syntax (1776404945.py, line 2)

2. Write a python program to print the first two maximum numbers in the list and also print the sum of those two maximum numbers<br>
Input : [12, 35, 9, 56, 24]<br>
Output : [24, 35, 9, 56, 12]<br>
output = Maximum numbers in the list are 56,35<br>
and the sum of the above maximum numbers is 95

3. Write a program to reverse a list using for loop without using slicing operation<br>
Input=[1,2,3,4,5,6]<br>
output=[6,5,4,3,2,1]

4. Write a python program to print the first two minimum numbers in the list and also print the sum of those two minimum numbers<br>
Input : [12, 35, 9, 56, 24]<br>
Output : [24, 35, 9, 56, 12]<br>
output=Minimum numbers in the list are 9,12<br>
and the sum of the above minimum numbers is 21

5. Take string as an input from the user and print reverse of the string,using for loop <br>
Input='hi i like python'<br>
output='nohtyp ekil i ih'